%h1
  = @assessment.name + " > " + @question.name.to_s

  = "Order: " + @question.order_id.to_s

- @question.question_media.each do |question_medium|
  - if question_medium.type == "QuestionText"
    = question_medium.text

= link_to 'Edit', edit_assessment_question_path(assessment_id: @assessment.id, id: @question.id)
