%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/F4pT4s8hUVM", :title => "YouTube video player", :width => "640"}

= link_to "First Question", '/question/1', class: "btn btn-default", id: 1
