.row
  .span10
    .responsive-iframe
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "https://www.youtube.com/embed/lMEOaqCZXAw", :title => "YouTube video player", :width => "640"}

.nav-footer
  .row
    .col-lg-1
      .col-centered
        = link_to "Begin Survey", "/questions/#{@first_question_id}", class: "btn btn-primary btn-lg", id: 1, data: { confirm: "Just making sure you didn't accidently skip the video. If you did, go back and watch it first. You won't be able to go back. : )" }
