.intro-text
  .text-center.text-overflow
    %h2 Please watch this video and then fill out the survey.
  .text-center.text-overflow
    %h2 Please answer honestly and do not rely on any sources for help.

.row
  .col-lg-1
    .col-centered
      = link_to "Get Started", '/video', class: "btn btn-primary btn-lg", id: 1
