%h1 Please watch this video once and then fill out the questions to the best of your ability. Please be honest and do not rely on any other sources for help.

= link_to "Begin", '/video', class: "btn btn-primary btn-lg", id: 1
